body {
  margin: 0;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.sidebar {
  width: 30%;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details {
  width: 70%;
  border: solid black 1px;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-icons {
  display: flex;
}

.header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: solid black 1px;
  margin-right: 5px;
}

.section-title {
  text-align: right;
  border-bottom: black double 5px;
}

.section-details {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
}


